<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-buttons end>
        <button ion-button icon-only (click)="startBackground()">
            startBackground
        </button><br>
        <button ion-button icon-only (click)="stoptBackground()">
            stoptBackground
        </button><br>
        <button ion-button icon-only (click)="getLocations()">
            getLocations
        </button><br>
        <button ion-button icon-only (click)="clearLocations()">
            clearLocations
        </button>
    </ion-buttons>


    <ion-list *ngFor="let key of locations">
        <ion-item>
            <ion-label>
                <b>
                latitude
            </b> {{ key.latitude }}
            </ion-label>
        </ion-item>
        <ion-item>
            <ion-label>
                <b>
                Longitude
            </b> {{ key.longitude }}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>